.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 992px) and (min-width: 768px) {
  .col-3 {
    width: 40%;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .col-3 {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .col-3 {
    width: 100%;
  }
}

nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 0 8.33%;
  z-index: 2;
  background-color: #FCF7FF;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 768px;
  font-size: 18px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: #333333;
}

nav ul li p {
  cursor: pointer;
}

nav ul li .links__a {
  position: relative;
}

nav ul li .links__a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 4px;
  -webkit-transition: width .3s ease-out;
  transition: width .3s ease-out;
  background: linear-gradient(120deg, #E63462 0%, #FAA916 100%);
}

nav ul li .links__a:hover::after {
  width: 100%;
}

nav ul li .links__a:focus {
  outline: none;
}

nav ul li .links__a:focus::after {
  width: 100%;
}

nav .social {
  min-width: 200px;
}

nav .social li {
  width: 50px;
  height: 50px;
}

nav .social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: rgba(51, 51, 51, 0);
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

nav .social li a:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

nav .social li a:focus {
  outline: none;
  background-color: rgba(51, 51, 51, 0.1);
}

nav .logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .logo div {
  position: relative;
  width: 38px;
  height: 56px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

nav .logo div img {
  width: 38px;
}

nav .logo__right {
  left: 19px;
}

nav .logo__right .forward {
  position: absolute;
  z-index: 5;
  bottom: 0;
}

nav .logo__right .back {
  position: absolute;
}

nav .logo__left {
  right: 19px;
}

nav .logo__left .forward {
  position: absolute;
  z-index: 5;
}

nav .logo__left .back {
  position: absolute;
  bottom: 0;
}

nav .logo__text {
  position: absolute;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.09em;
  color: #333333;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

nav .logo:hover .logo__left {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}

nav .logo:hover .logo__right {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}

nav .logo:hover .logo__text {
  opacity: 1;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 1183px;
  background-image: url("../images/header_bg.svg");
}

header img {
  position: absolute;
  left: 13%;
  height: 700px;
  top: 150px;
}

header div {
  position: relative;
  left: 41.66%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FCF7FF;
}

header div h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
}

header div h3 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 768px;
  font-size: 0.66em;
  top: -10px;
}

header div p {
  position: relative;
  max-width: 570px;
  top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
}

.projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
  margin: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .project {
  position: relative;
  margin: 33px;
  cursor: pointer;
}

.projects .project__wrap {
  position: relative;
  -webkit-box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  pointer-events: none;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.projects .project__animation {
  position: absolute;
  width: 140%;
  left: 50%;
  top: 232px;
  z-index: 3;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  pointer-events: none;
}

.projects .project__info {
  margin: 16px 25px;
  pointer-events: none;
}

.projects .project__info h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 768px;
  font-size: 0.66em;
  font-size: 1.5vw;
}

.projects .project__info p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  font-size: 1.3vw;
}

.projects .project__imageContainer {
  position: relative;
}

.projects .project__thumbnail {
  position: relative;
  width: 100%;
  padding-bottom: 96%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  pointer-events: none;
}

.projects .project__img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 125%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.projects .project:hover .project__animation {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 992px) {
  .projects {
    padding: 3% 10%;
  }
  .projects .project {
    margin: 30px 15px;
  }
  .projects .project__info h3 {
    font-size: 0.5em;
  }
  .projects .project__info p {
    font-size: 0.4em;
  }
}

.modal {
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal img {
  position: absolute;
  opacity: .25;
  cursor: pointer;
  top: 25px;
  right: 25px;
}

.modal img:hover {
  opacity: .5;
}

.modal__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
  max-width: 590px;
  padding: 46px 56px;
  background-color: #FCF7FF;
}

.modal__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.modal--message {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal--message form {
  display: none;
}

.modal--message .modal__header {
  display: none;
}

.modal--message .modal__message {
  display: block;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
}

.modal__header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.modal__header p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
}

.modal__inputs {
  width: 100%;
}

.modal__message {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  color: #333333;
}

.textInput {
  position: relative;
  width: 100%;
  height: 46px;
  margin: 21px 0;
}

.textInput label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  position: absolute;
  font-size: 16px;
  color: #333333;
  opacity: .5;
  top: 20px;
  -webkit-transform: translateX(13px) translateY(-30%);
          transform: translateX(13px) translateY(-30%);
  -webkit-transition-property: color, font-size, -webkit-transform;
  transition-property: color, font-size, -webkit-transform;
  transition-property: transform, color, font-size;
  transition-property: transform, color, font-size, -webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: text;
}

.textInput input, .textInput .textInput__textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  font-size: .44em;
  color: #333333;
  width: 100%;
  height: 46px;
  padding: 0 13px;
  padding-top: 15px;
  border: none;
  background-color: #FBF3FF;
}

.textInput input:focus, .textInput .textInput__textarea:focus {
  outline: none;
}

.textInput--hasError label {
  color: #E63462 !important;
  opacity: 1;
}

.textInput--hasError::after {
  background-color: #E63462 !important;
}

.textInput__error {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  font-size: 12px;
  color: #E63462;
  bottom: -20px;
}

.textInput__indicator {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  font-size: 12px;
  color: #333333;
  opacity: .5;
  bottom: 5px;
  left: 10px;
}

.textInput--textarea {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.textInput__textarea {
  height: 240px !important;
  cursor: text;
}

.textInput textarea {
  position: absolute;
  width: calc(100% - 26px);
  height: calc(100% - 40px);
  top: 18px;
  left: 13px;
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  font-size: .44em;
  overflow: hidden;
  resize: none;
}

.textInput textarea:focus {
  outline: none;
}

.textInput::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  background-color: #333333;
  opacity: .5;
}

.textInput--active label {
  font-size: 12px;
  font-weight: 600;
  color: #7F0799;
  -webkit-transform: translateX(10px) translateY(-100%);
          transform: translateX(10px) translateY(-100%);
}

.textInput--active::after {
  opacity: 1;
  background-color: #7F0799;
}

.btn {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 46px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn--yellow {
  color: #FCF7FF;
  background: linear-gradient(170deg, #FAA916 13.87%, #EA8208 95.09%);
  -webkit-box-shadow: 0px 5px 25px rgba(250, 169, 22, 0.45);
          box-shadow: 0px 5px 25px rgba(250, 169, 22, 0.45);
  -webkit-transition: -webkit-box-shadow .2s ease-out;
  transition: -webkit-box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;
}

.btn--yellow:hover {
  background: linear-gradient(170deg, #fbb22f 13.87%, #f78f15 95.09%);
  -webkit-box-shadow: 0px 8px 15px rgba(250, 169, 22, 0.55);
          box-shadow: 0px 8px 15px rgba(250, 169, 22, 0.55);
}

.btn--yellow:focus {
  background: linear-gradient(170deg, #faa307 13.87%, #db7a07 95.09%);
  -webkit-box-shadow: 0px 8px 15px rgba(250, 169, 22, 0.55);
          box-shadow: 0px 8px 15px rgba(250, 169, 22, 0.55);
}

.btn:focus {
  outline: none;
}

.contactBtn {
  position: fixed;
  width: 64px;
  height: 64px;
  right: 64px;
  top: calc(100vh - 128px);
  border-radius: 32px;
  border: none;
  background-color: #333333;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:focus {
  outline: none;
}

@media (max-width: 576px) {
  .contactBtn {
    right: 30px;
    bottom: 30px;
    top: auto;
  }
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}

.about img {
  position: absolute;
  width: 30vw;
  max-width: 400px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about div {
  margin-left: 16.66%;
  color: #333333;
}

.about div h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.about div p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  margin: 20px 0;
}

.projectDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 100px;
}

.projectDetail img {
  margin: 0 auto;
  max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 36px;
}

a {
  text-decoration: none;
}

.splash {
  position: fixed;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #E63462;
}

.splash img {
  width: 55px;
}

.splash__circle {
  position: absolute;
  background-color: #FCF7FF;
  width: 140vw;
  height: 140vw;
  border-radius: 50%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 40vw;
  max-height: 523px;
  padding-top: 135px;
  background-image: url("../images/footer__bg.svg");
  background-position-x: center;
  background-position-y: top;
}

footer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #FCF7FF;
}

footer h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 768px;
  font-size: 0.66em;
  font-weight: 600;
  color: #FCF7FF;
}

footer h3 span {
  color: #FAA916;
  cursor: pointer;
}

@media (max-width: 992px) and (min-width: 576px) {
  footer {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 30px;
  }
  footer {
    font-size: 20px;
    height: 350px;
  }
}
/*# sourceMappingURL=main.css.map */