header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 1183px;

    background-image: url('../images/header_bg.svg');

    & img {
        position: absolute;
        left: 13%;
        height: 700px;
        top: 150px;
        
    }

    & div {
        position: relative;
        left: 41.66%;
        transform: translateY(-50%);
        color: $white;

        & h1 {
            @include h1;
        }
        
        & h3 {
            position: relative;

            @include h3;

            top: -10px;
        }

        & p {
            position: relative;
            max-width: 570px;

            top: 30px;

            @include p;
        }
    }
}

@media(max-width: $large) {
    
}