header {
    position: relative;
    display: flex;

    width: 100%;
    min-height: 1183px;

    background-image: url('../images/header_bg.svg');

    & img {
        margin-left: 13%;
        height: 900px;
    }

    & div {
        position: absolute;

        left: 50%;
        margin-top: 370px;
        color: $white;

        & h1 {
            font-family: $montserrat;
            font-weight: $bold;
            font-size: 72px;
        }
        
        & h3 {
            position: relative;

            @include h3;

            top: -10px;
        }

        & p {
            position: relative;
            max-width: 570px;

            top: 30px;

            @include p;
        }
    }
}