.projects {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;

    .project {
        position: relative;
        margin: 50px;
        cursor: pointer;

        &__wrap {
            position: relative;
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
            width: 100%;
            height: 100%;
            pointer-events: none;
            transition-duration: .4s;
            transition-timing-function: ease-out;
        }

        &__animation {
            position: absolute;
            width: 140%;
            left: 50%;
            top: 232px;
            z-index: 3;
            opacity: 0;
            transform: translate(-50%, -50%) scale(.8);
            transition-property: transform, opacity;
            transition-duration: .3s;
            transition-timing-function: ease-out;
            pointer-events: none;
        }

        &__info {
            margin: 16px 25px;
            pointer-events: none;

            & h3 {
                @include h3;
            }

            & p {
                @include p;
            }
        }

        &__imageContainer {
            position: relative;
        }

        &__thumbnail {
            position: relative;

            width: 100%;
            padding-bottom: 96%;
            overflow: hidden;
            pointer-events: none;
        }

        &__img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 125%;
            transform: translate(-50%, -50%);
            transition-duration: .4s;
            transition-timing-function: ease-out;
        }

        &:hover {

            & .project {
                &__animation {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }
}