.textInput {
    position: relative;
    width: 100%;
    height: 46px;
    margin: 21px 0;

    & label {
        @include p;
        position: absolute;

        font-size: 16px;
        color: $black;
        opacity: .5;
        top: 20px;
        transform: translateX(13px) translateY(-30%);
        transition-property: transform, color, font-size;
        transition-duration: .3s;
        transition-timing-function: ease-out;
        cursor: text;
    }

    & input, .textInput__textarea {
        @include p;
        font-size: .44em;
        color: $black;
        width: 100%;
        height: 46px;
        padding: 0 13px;
        padding-top: 15px;
        border: none;
        background-color: #FBF3FF;

        &:focus {
            outline: none;
        }
    }

    &--hasError {
        & label {
            color: $red !important;
            opacity: 1;
        }

        &::after {
            background-color: $red !important;
        }
    }

    &__error {
        position: absolute;
        @include p;
        font-size: 12px;
        color: $red;
        bottom: -20px;
    }

    &__indicator {
        position: absolute;
        @include p;
        font-size: 12px;
        color: $black;
        opacity: .5;
        bottom: 5px;
        left: 10px;
    }

    &--textarea {
        height: fit-content;
    }

    &__textarea {
        height: 240px !important;
        cursor: text;
    }

    & textarea {
        position: absolute;
        width: calc(100% - 26px);
        height: calc(100% - 40px);
        top: 18px;
        left: 13px;
        background: none;
        border: none;
        @include p;
        font-size: .44em;
        overflow: hidden;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;                    

        width: 100%;
        height: 2px;

        transition: opacity .3s ease-out;

        background-color: $black;
        opacity: .5;
    }

    &--active {
        
        & label {
            font-size: 12px;
            font-weight: $semibold;
            color: $purple;
            transform: translateX(10px) translateY(-100%);
        }

        &::after {
            opacity: 1;
            background-color: $purple;
        }
    }
}