@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.splash {
    position: absolute;
    display: none;
    overflow: hidden;

    @include flex-center;

    width: 100%;
    height: 100%;
    background-color: $red;

    & img {
        width: 55px;
    }

    &__circle {
        position: absolute;
        background-color: $white;
        width: 140vw;
        height: 140vw;
        border-radius: 50%;
    }
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    padding: 0 8.33%;
    z-index: 2;
    background-color: $white;

    font-family: $montserrat;

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

    & ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-weight: $medium;
        font-size: 18px;

        & li {
            list-style-type: none;

            & a {
                color: $black;

                
            }

            & .links__a {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -2px;                    

                    width: 0;
                    height: 4px;

                    transition: width .3s ease-out;

                    background: linear-gradient(120deg, #E63462 0%, #FAA916 100%);
                }

                &:hover {

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    & .logo {
        position: absolute;

        @include flex-center;

        left: 50%;
        transform: translateX(-50%);

        & img {
            width: 38px;
        }
    }
}

header {
    position: relative;
    display: flex;

    width: 100%;
    min-height: 1183px;

    background-image: url('../images/header_bg.svg');

    & img {
        margin-left: 13%;
        height: 900px;
    }

    & div {
        position: absolute;

        left: 50%;
        margin-top: 370px;
        color: $white;

        & h1 {
            font-family: $montserrat;
            font-weight: $bold;
            font-size: 72px;
        }
        
        & h3 {
            position: relative;

            @include h3;

            top: -10px;
        }

        & p {
            position: relative;
            max-width: 570px;

            top: 30px;

            @include p;
        }
    }
}

.projects {
    position: relative;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    .project {
        position: relative;
        margin: 50px;
        box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);

        &__animation {
            position: absolute;

            left: 50%;
            top: 232px;
            opacity: 0;
            transform: translate(-50%, -50%) scale(.8);
            transition-property: transform, opacity;
            transition-duration: .3s;
            transition-timing-function: ease-out;
        }

        &__info {
            margin: 16px 25px;

            & h3 {
                @include h3;
            }

            & p {
                @include p;
            }
        }

        &:hover {

            & .project {
                &__animation {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }
}